$clr:green;
$bg:pink;
h1{
    color:$clr;
    background-color:$bg;
    padding:20px;
}

nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  
    li { display: inline-block; }
  
    a {
      display: block;
      padding: 6px 12px;
      text-decoration: none;
      font-size:medium;
      font-family:arial;
    }
  }
  