
.container{
    width:1000px;
    height:200px;
    margin:auto;
}
@media screen and (max-width:999px){
    .container{
    width:100%;
    height:auto;
    margin:auto;
}  
img{
    width:100%;
    height:auto;
}
}
